.sidebar {
  background-color: #234070;
  color: #fff;
  width: 200px;
  min-height: 100vh;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
}

.sidebarLi {
  list-style: none;
  padding: 12px 24px;
}

.mainContent {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.btnSidebar {
  width: 35px;
  min-width: 35px;
  margin-right: 10px;
}

.toggleSidebar {
  transform: translate(0) !important;
  transition: 1s !important;
}

@media (max-width: 970px) {
  .sidebar {
    transform: translate(-100%);
    transition: 1s;
  }
}
