.sidebar {
  display: flex;
  background-color: #234070;
  color: #fff;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  z-index: 1000;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
  margin: 40px auto 50px;
}

.sidebarLi {
  list-style: none;
  padding: 12px 24px;
}

.toggleSidebar {
  transform: translate(0) !important;
  transition: all 1s !important;
}

@media (max-width: 1100px) {
  .sidebar {
    transform: translateX(-100%);
    transition: all 1s;
  }
}
