.sidebarA {
  border-radius: 15px;
  padding: 1rem;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.sidebarA:hover {
  display: block;
  padding: 1.2rem;
  background: #044aa5;
}
